MYSQL_ROOT_PASSWORD=
MYSQL_HOST_PORT=3308
GATEWAY_DB_PASSWORD=
EVALUATION_DB_PASSWORD=
INTERNAL_SERVICE_TOKEN=
GATEWAY_API_KEY=
SESSION_SECRET_KEY=
ENCRYPTION_SECRET_KEY=

AI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode
AI_API_KEY=
AI_DEFAULT_MODEL=qwen-plus

TENCENT_COS_ACCESS_KEY=
TENCENT_COS_SECRET_KEY=
TENCENT_COS_REGION=ap-guangzhou
TENCENT_COS_BUCKET=
TENCENT_COS_HOST=
